<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <strong>{{title}}</strong>
            </div>
            <div class="col-9">
              <div class="float-right">
                <strong *ngIf="this.sDtrFgtShoes?.loginUser"
                  >{{ "Common.hello" | translate }}
                  {{ this.sDtrFgtShoes?.loginUser }}</strong
                >
                <!--
                <img
                  src="../assets/systemImg/taiwan.png"
                  tooltip="{{
                    this.sSampleTrackReport.loginUser
                  }} Prefers Mandarin"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="this.utility.useLanguage('zh')"
                />
                <img
                  src="../assets/systemImg/united-states.png"
                  tooltip="{{
                    this.sSampleTrackReport.loginUser
                  }} Prefers English"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="this.utility.useLanguage('en')"
                />
                -->
                <!--<img src="../assets/systemImg/vietnam.png" width="25" height="25" />-->
                <img
                  src="../assets/systemImg/exit.png"
                  tooltip="Logout"
                  width="25"
                  height="25"
                  (click)="this.utility.logout()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form" #addQueryReportDataForm="ngForm">
            <!-- Second column-->
            <div class="row">
              <div class="form-group col-xs-2 mr-1">

                <label class="col-form-label mr-1 mt-2">Quick Search: </label>
                <input
                  class="col-form-label mr-1"
                  type="text"
                  name="article"
                  placeholder="Please type the Artilce"
                  [(ngModel)]="sDtrFgtShoes.article"
                  (blur)="filterResult()"
                />
                <!--
                <label class="col-form-label mr-1 mt-2">Model No</label>
                <input
                  class="col-form-label mr-1"
                  type="text"
                  name="modelNo"
                  [(ngModel)]="sSampleTrackReport.modelNo"
                />
                <label class="col-form-label mr-1 mt-2">Model Name</label>
                <input
                  class="col-form-label mr-1"
                  type="text"
                  name="modelName"
                  [(ngModel)]="sSampleTrackReport.modelName"
                />                           
                <button
                  class="btn btn-primary mr-1"
                  type="button"
                  (click)="search()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                  {{ "Common.btnList.search" | translate }}
                </button>
                -->
                <button
                  class="btn btn-primary mr-1 ml-4"
                  type="button"
                  (click)="export()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                  {{ "Common.btnList.export" | translate }}
                </button>
                <!--批次修改Memo -->
                <button
                    [hidden]="
                    !this.sDtrFgtShoes.role.includes(
                      uiControls.editMemo
                    )"
                  *ngIf="this.memoBtn; else elseMemoBtn"
                  class="btn btn-success mr-1"
                  type="button"
                  (click)="editMemo()"
                >
                  修改ETD
                </button>
                <ng-template #elseMemoBtn>
                  <button
                    class="btn btn-danger mr-1"
                    type="button"
                    (click)="saveMemo('save')"
                  >
                    儲存ETD
                  </button>
                  <button
                    class="btn btn-success mr-1"
                    type="button"
                    (click)="saveMemo('cancel')"
                  >
                    取消修改
                  </button>                  
                </ng-template>                

              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center table-striped">
                    <!--text-nowrap不換行-->
                    <!--套版分頁<table datatable id="f340Sche" class="table text-center table-striped">-->
                    <thead>
                      <tr class="table-info">
                        <th
                          style="background-color: #23d954;width:5%"

                        >
                        Factory
                        </th>

                        <th
                          style="background-color: #23d954;width:10%"
                        >
                        Article
                        </th>
                        <th
                          style="background-color: #23d954;width:10%"
                        >
                        Stage
                        </th>
                        <th
                          style="background-color: #23d954;width:10%"
                        >
                        Test
                        </th>
                        <th
                          style="background-color: #23d954;width:10%" 
                        >
                        QC Receive Date
                        </th>
                        
                        <th
                          style="background-color: #23d954;width:15%"
                        >
                        QC Result__ Date  <!--QcEtd-->
                        </th>
                        <th
                          style="background-color: #23d954;width:20%"
                        >
                        Remark
                        </th>
                        <th
                          style="background-color: #23d954;width:10%"
                        >
                        Update User 
                        </th>
                        <th
                          style="background-color: #23d954;width:10%"
                        >
                        Update Time 
                        </th>                    
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <td style="width:5%;">{{ item.factoryId  }}</td>
                          <td style="width:10%;">{{ item.article  }}</td>
                          <td style="width:10%;">{{ item.stage  }}</td>
                          <td style="width:10%;">{{ item.test  }}</td>
                          <td style="width:10%;">{{ item.qcReceive | date: "yyyy/MM/dd" }}</td>

                          <!--批次修改Memo -->  
                          <td style="width:15%;" [ngClass]="{'bg-warning': item.isWarn }" *ngIf="this.memoBtn; else elseMemoTd">
                            {{ item.qcEtd | date: "yyyy/MM/dd" }}
                          </td>
                          <td style="width:20%;" *ngIf="this.memoBtn; ">
                            {{ item.remark   }}</td>
                          <ng-template #elseMemoTd>
                            <td style="width:15%;" [ngClass]="{'bg-warning': item.isWarn }">
                            <!--Angular修改日期處理方式，只能選擇原本日期之後-->
                            <!-- min = "{{item.qcEtd|date:'yyyy-MM-dd'}}"
                                 max = "2099-12-31"
                            -->
                            <input
                              class="col-form-label"
                              name="qcEtd"
                              type="date"

                              [ngModel] ="item.qcEtd | date:'yyyy-MM-dd'" 
                              (ngModelChange)="item.qcEtd = $event"
                              (change)="$event.target.classList.add('bg-danger')"
                            />
                            </td>
                            <td style="width:20%;">
                              <select
                              class="col-form-label"
                              name="valueZh"
                              [(ngModel)]="item.remark" 
                              (change)="$event.target.classList.add('bg-danger')"
                            >
                              <option value=""></option>
                              <option *ngFor="let a of code066" value="{{ a.valueEn }}">
                                {{ a.valueEn }}
                              </option>
                            </select>                                                            
                            <!--
                            <textarea
                              class="form-control ml-4"
                              name="remark"
                              rows="2"
                              [(ngModel)]="item.remark"
                              (change)="$event.target.classList.add('bg-danger')"
                              #message="ngModel"
                            ></textarea>
                            -->
                            </td>                            
                          </ng-template>
                          <td style="width:10%;">{{ item.etdUser   }}</td>
                          <td style="width:10%;">{{ item.etdDate  | date: "yyyy/MM/dd HH:mm:ss"   }}</td>

                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <!--
                  <div class="d-flex justify-content-start">
                    <select
                      style="height: 35px; width: 45px"
                      name="itemsPerPage"
                      [(ngModel)]="sSampleTrackReport.itemsPerPage"
                      (change)="changePageSize($event)"
                    >
                      <option value="10" selected>10</option>
                      <option value="25" selected>25</option>
                      <option value="50" selected>50</option>
                      <option value="100" selected>100</option>
                    </select>
                    <pagination
                      *ngIf="this.sSampleTrackReport.isPaging"
                      [boundaryLinks]="true"
                      [totalItems]="sSampleTrackReport.totalItems"
                      [maxSize]="60"
                      [itemsPerPage]="sSampleTrackReport.itemsPerPage"
                      [(ngModel)]="sSampleTrackReport.currentPage"
                      (pageChanged)="pageChangeds($event)"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
                    >
                    </pagination>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading {{title}}...</p></ngx-spinner
>
