<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <strong class ="col-11" style="font-size: 20px;color:#000000;">DTR Visual Standard Maintain</strong>
              <div class="col-1 btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <strong *ngIf="this.sDevDtrVisStandard.loginUser">{{ this.sDevDtrVisStandard.loginUser }}</strong> <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="../assets/manual/DTR_Visual_Standard_Upload V1.0.pdf" target="_blank"><img src="../assets/systemImg/question.png" class="topImg" width="25" height="25"/>  Help </a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="this.utility.logout()"><img src="../assets/systemImg/exit.png" class="topImg" width="25" height="25"/>  Log Out</a></li>
                </ul>                
            </div>
          </div>          
        </div>
        <div class="card-body">
          <form class="form" #addQueryReportDataForm="ngForm">
            <!-- first column-->
            <div class="row">
              <div class="form-group col-8">
                <label>Season</label>
                <input
                  class="col-form-label mr-2"
                  type="text"
                  name="season"
                  size ="4"
                  maxlength="4"
                  (change) ="initAddBtn()"
                  [(ngModel)] = "sDevDtrVisStandard.season"
                  [readonly] = "true"
                />
                <label>Article</label>
                <input
                  class="col-form-label mr-2"
                  type="text"
                  name="article"
                  size ="6"
                  maxlength="6"
                  (change) ="initAddBtn()"
                  [(ngModel)]="sDevDtrVisStandard.article"
                  [readonly] = "true"
                />
                <label>Factory</label>
                <input
                  class="col-form-label mr-2"
                  type="text"
                  name="factoryId"
                  size ="1"
                  maxlength="1"
                  [(ngModel)]="sDevDtrVisStandard.factoryId"
                  [readonly] ="true"
                />                
                <button
                  class="btn btn-primary mr-2 mb-1"
                  type="button"
                  (click)="search()"
                  [hidden] = "true"
                >
                  Search
                </button>
                <button
                  class="btn btn-primary mr-2 mb-1"
                  type="button"
                  (click)="openAddVisStandardModal('addDtrVSModal')"
                  [hidden]="(!this.sDevDtrVisStandard.role?.includes(uiControls.addAReport) || !validArticle)"
                >
                  Add A Report
                </button>                
              </div>
              <div class="form-group col-2">
              </div>
            </div>
          </form>
        </div>
        <div class="row" *ngIf="result?.length > 0">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center text-nowrap table-striped">
                    <!--text-nowrap不換行-->
                    <!--套版分頁<table datatable id="f340Sche" class="table text-center table-striped">-->
                    <thead>
                      <tr class="table-info">
                        <th [hidden]="!this.sDevDtrVisStandard.role?.includes(uiControls.deleteAReport)">Delete</th>
                        <th>Season</th>
                        <th>Article</th>
                        <th>Id</th>
                        <th>FIle</th>
                        <th>Upload Time</th>
                        <th>Upload User</th>
                        <th>Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <td [hidden]="!this.sDevDtrVisStandard.role?.includes(uiControls.deleteAReport)">
                            <img
                            src="../assets/systemImg/delete.png"
                            width="35"
                            height="35"
                            (click)="deleteVSResult(item)"/>
                          </td>
                          <td>{{ item.season }}</td>
                          <td>{{ item.article }}</td>
                          <td>{{ item.id }}</td>
                          <td>
                            <img
                            src="../assets/systemImg/download-pdf.png"
                            class="mr-1"
                            width="40"
                            height="40"
                            [style.visibility]="
                              item.filename?.length < 1 ? 'hidden' : 'visible'
                            "
                            (click)="viewPdf(item)"
                            />
                            <img
                            *ngIf="this.sDevDtrVisStandard.role?.includes(uiControls.copyVsFile)"
                            src="../assets/systemImg/up-arrow.png"
                            class="mr-1"
                            width="40"
                            height="40"
                            [style.visibility]="
                              item.filename?.length < 1 ? 'hidden' : 'visible'
                            "
                            (click)="this.openCopyModal(item)"
                            />                            
                          </td>
                          <td>{{ item.upday | date: "yyyy/MM/dd HH:mm:ss" }}</td>
                          <td>{{ item.upusr }}</td>
                          <td>{{ item.remark }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--addDtrVSModal-->
<div
  bsModal
  #addDtrVSModal="bs-modal"
  class="modal hide fade in"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-info modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Please upload Pdf and type comment.</h4>
      <button
        type="button"
        class="close"
        (click)="closeModal('addDtrVSModal')"
        aria-label="Close"
      >
        <!--右上角的 X 符號-->
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-8">
          <div class="form-inline">
            <label class="col-form-label mr-4">Season : {{addAModel.season}}</label>
            <label class="col-form-label mr-4">Article : {{addAModel.article}}</label>
            <label class="col-form-label mr-4">Id : {{addAModel.id}}</label>             
          </div>
        </div>
        <div class="col-4">

        </div>
      </div>    
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <textarea
              class="form-control"
              name="photoComment"
              rows="2"
              maxlength="300"
              placeholder="Please type memo here!"
              [hidden]="false"
              [(ngModel)]="addAModel.remark"
            ></textarea>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
        </div>
        <div class="col-2 mt-4">
          <span>{{bufferFile?.name}}</span>
        </div>
        <div class="col-2">
          <label
          class="btn btn-primary btn-lg mt-3 mr-4"
          for="pdfUploadInAdd"
          tooltip="{{ this.hintMsg.uploadPdf }}"
          placement="right">+
          </label>
          <input
          id="pdfUploadInAdd"
          type="file"
          accept=".pdf"
          style="display: none"
          (click)="this.utility.reset($event)"
          (change)="handleFileInput($event.target.files)"
          />            
          <button
            type="button"
            [hidden]="false"
            class="btn btn-primary btn-lg mt-2"
            (click)="savePdfNComment()"
          >
            Save
          </button>
        </div>
      </div>  
    </div>
  </div>
</div>
</div>
<!--addDtrVSModal-->
<!--copyModal-->
<div
  bsModal
  #copyModal="bs-modal"
  class="modal hide fade in"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-info modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Please paste array of article.</h4>
      <button
        type="button"
        class="close"
        (click)="closeModal('copyModal')"
        aria-label="Close"
      >
        <!--右上角的 X 符號-->
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"> 
      <div class="row">
        <div class="col-8">
          <div class="form-inline">
            <label class="col-form-label ">Copy PDF from : {{addAModel.article}}    Id : {{addAModel.id}}</label>          
          </div>
        </div>
        <div class="col-4">

        </div>
      </div>           
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <textarea
              class="form-control"
              name="photoComment"
              rows="2"
              maxlength="200"
              placeholder="e.g. GY0793/GY0792/GX5808/GX8667/GW3039/GX8663/GW0627/GY9484"
              [hidden]="false"
              [(ngModel)]="copyArrayModal"
            ></textarea>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
        </div>
        <div class="col-2">           
          <button
            type="button"
            [hidden]="false"
            class="btn btn-primary btn-lg mt-2"
            (click)="copyArraySave()"
          >
            Save
          </button>
        </div>
      </div>  
    </div>
  </div>
</div>
</div>
<!--copyModal-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">DTR Visual Standard Maintain...</p></ngx-spinner
>
