<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-10">
              <strong>{{ 'F340.title' | translate }}</strong>
            </div>
            <div class="col-2">
              <strong *ngIf="this.loginUser">{{ 'Common.hello' | translate }} {{ this.loginUser }}</strong>
              <img src="../assets/systemImg/taiwan.png" width="25" height="25"  (click)="useLanguage('zh')"/>
              <img src="../assets/systemImg/united-states.png" width="25" height="25"  (click)="useLanguage('en')"/>
              <!--<img src="../assets/systemImg/vietnam.png" width="25" height="25" />-->
           </div>
          </div>
        </div>
        <form class="form-horizontal" #addQueryReportDataForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="col">
                  <label class="col-form-label mr-1">Season</label>
                  <input
                    class="col-form-label mr-1"
                    type="text"
                    name="season"
                    [(ngModel)]="sF340Schedule.season"
                    required
                    (change)="changeBPVerList()"
                  />
                  <label class="col-form-label mr-1">Buy Plan Version</label>
                  <select
                  class="col-form-label mr-1"
                  name="bpVer"
                  [(ngModel)]="sF340Schedule.bpVer"
                >
                  <option value = "">All</option>
                  <option
                    *ngFor="let bpVer of bpVerList"
                    value="{{ bpVer }}"
                  >
                    {{ bpVer }}
                  </option>
                </select>
                <label class="col-form-label mr-1">CWA Date</label>
                <input
                  class="col-form-label mr-1"
                  type="date"
                  name="cwaDate"
                  [(ngModel)]="sF340Schedule.cwaDate"
                />
                  <button
                    class="btn btn-primary mr-1"
                    type="button"
                    (click)="search()"
                    [disabled]="!addQueryReportDataForm.valid"
                  >
                  {{ 'Common.btnList.search' | translate }}
                  </button>
                  <button
                    class="btn btn-primary mr-1"
                    type="button"
                    (click)="export()"
                    [disabled]="!addQueryReportDataForm.valid"
                  >
                  {{ 'Common.btnList.export' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row" *ngIf="result">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center text-nowrap table-striped"><!--text-nowrap不換行-->
                  <!--套版分頁<table datatable id="f340Sche" class="table text-center table-striped">-->
                    <thead>
                      <tr class="table-info">
                        <th style="background-color:#FF7F50;" tooltip="From HP" placement="bottom">{{ 'F340.titleList.buyPlanSeason' | translate }}</th>
                        <th style="background-color:#FF7F50;" tooltip="From HP" placement="bottom">{{ 'F340.titleList.versionNo' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.devSeason' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.devTeam' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.article' | translate }}</th>
                        
                        <!--<th [ngClass]="this.cwaDeadlineS ? 'zoom-in' : 'zoom-out'"
                        (click)="this.sort($event)">cwaDeadline</th>-->
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.cwaDeadline' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.modelNo' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.modelName' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.orderStag' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.sampleNo' | translate }}</th>

                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.devStatus' | translate }}</th>
                        <th style="background-color:#76DAFF;" tooltip="FromF204/F205" placement="bottom">{{ 'F340.titleList.dropDate' | translate }}</th>
                        <th style="background-color:#FF7F50;" tooltip="From HP" placement="bottom">{{ 'F340.titleList.hpFlag' | translate }}</th>
                        <th style="background-color:#FF7F50;" tooltip="From HP" placement="bottom">{{ 'F340.titleList.hpSampleNo' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.f340SampleNo' | translate }}</th>

                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.releaseType' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.createDate' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.pdmDate' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.devUpDate' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.devBtmDate' | translate }}</th>

                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.ttUpDate' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.ttBtmDate' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.releaseDate' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.ttRejectReason' | translate }}</th>
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.ttRejectDate' | translate }}</th>                        
                        <th style="background-color:#23D954;" tooltip="From F340" placement="bottom">{{ 'F340.titleList.ttRejectCount' | translate }}</th> 
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <td>{{ item.buyPlanSeason }}</td>
                          <td>{{ item.versionNo }}</td>
                          <td>{{ item.devSeason }}</td>
                          <td>{{ item.devTeam }}</td>
                          <td>{{ item.article }}</td>

                          <td>{{ item.cwaDeadline }}</td>
                          <td>{{ item.modelNo }}</td>
                          <td>{{ item.modelName }}</td>
                          <td>{{ item.orderStag }}</td>
                          <td>{{ item.sampleNo }}</td>

                          <td>{{ item.devStatus }}</td>
                          <td>{{ item.dropDate }}</td>
                          <td>{{ item.hpFlag }}</td>
                          <td>{{ item.hpSampleNo }}</td>
                          <td>{{ item.f340SampleNo }}</td>

                          <td>{{ item.releaseType }}</td>             
                          <td>{{ item.createDate }}</td>
                          <td>{{ item.pdmDate }}</td>
                          <td>{{ item.devUpDate }}</td>
                          <td>{{ item.devBtmDate }}</td>

                          <td>{{ item.ttUpDate }}</td>
                          <td>{{ item.ttBtmDate }}</td>
                          <td>{{ item.releaseDate }}</td>
                          <td>{{ item.ttRejectReason }}</td>
                          <td>{{ item.ttRejectDate }}</td>

                          <td>{{ item.ttRejectCount }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <div class ="d-flex justify-content-start">
                    <pagination *ngIf="this.sF340Schedule.isPaging" 
                      [boundaryLinks]="true" 
                      [totalItems]="sF340Schedule.totalItems"
                      [maxSize]="100"
                      [itemsPerPage]="sF340Schedule.itemsPerPage"
                      [(ngModel)]="sF340Schedule.currentPage"
                      (pageChanged) = "pageChangeds($event)"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading F340 Shchdule...</p></ngx-spinner
>
