<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong >F340 Schedule</strong>
          <strong *ngIf="this.loginUser">  Hello  {{ this.loginUser }}</strong>
        </div>
        <form class="form-horizontal" #addQueryReportDataForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="col">
                  <label class="col-form-label mr-1">Season</label>
                  <input
                    class="col-form-label mr-1"
                    type="text"
                    name="season"
                    [(ngModel)]="season"
                    required
                  />
                  <label class="col-form-label mr-1">Buy Plan Version</label>
                  <input
                    class="col-form-label mr-1"
                    type="text"
                    name="bpVer"
                    [(ngModel)]="bpVer"
                  />
                  <button
                    class="btn btn-primary mr-1"
                    type="button"
                    (click)="search()"
                    [disabled]="!addQueryReportDataForm.valid"
                  >
                    Seacrch
                  </button>
                  <button class="btn btn-primary mr-1" type="button" (click)="export()" [disabled]="!addQueryReportDataForm.valid">
                    Export
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row" *ngIf="result">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center table-striped">
                    <thead>
                      <tr class="table-info">
                        <th>season</th>
                        <th>stage</th>
                        <th>modelName</th>
                        <th>modelNo</th>
                        <th>article</th>

                        <th>buyPlan</th>
                        <th>versionNo</th>
                        <th>cwaDeadline</th>
                        <th>flag</th>
                        <th>sampleNo</th>

                        <th>createDate</th>
                        <th>pdmDate</th>
                        <th>devUpDate</th>
                        <th>devBtmDate</th>
                        <th>ttUpDate</th>

                        <th>ttBtmDate</th>
                        <th>releaseDate</th>
                        <th>ttRejectReason</th>
                        <th>ttRejectDate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <td>{{ item["season"] }}</td>
                          <td>{{ item["stage"] }}</td>
                          <td>{{ item["modelName"] }}</td>
                          <td>{{ item["modelNo"] }}</td>
                          <td>{{ item["article"] }}</td>

                          <td>{{ item["buyPlan"] }}</td>
                          <td>{{ item["versionNo"] }}</td>
                          <td>{{ item["cwaDeadline"] }}</td>
                          <td>{{ item["flag"] }}</td>
                          <td>{{ item["sampleNo"] }}</td>

                          <td>{{ item["createDate"] }}</td>
                          <td>{{ item["pdmDate"] }}</td>
                          <td>{{ item["devUpDate"] }}</td>
                          <td>{{ item["devBtmDate"] }}</td>
                          <td>{{ item["ttUpDate"] }}</td>

                          <td>{{ item["ttBtmDate"] }}</td>
                          <td>{{ item["releaseDate"] }}</td>
                          <td>{{ item["ttRejectReason"] }}</td>
                          <td>{{ item["ttRejectDate"] }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading F340 Shchdule...</p></ngx-spinner
>
