<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <strong
                >{{ "F340-PPD.title" | translate }}(量產加工準備明細)</strong
              >
            </div>
            <div class="col-9">
              <div class="float-right">
                <strong *ngIf="this.sF340PpdSchedule.loginUser"
                  >{{ "Common.hello" | translate }}
                  {{ this.sF340PpdSchedule.loginUser }}</strong
                >
                <img
                  src="../assets/systemImg/taiwan.png"
                  tooltip="{{
                    this.sF340PpdSchedule.loginUser
                  }} Prefers Mandarin"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="this.utility.useLanguage('zh')"
                />
                <img
                  src="../assets/systemImg/united-states.png"
                  tooltip="{{
                    this.sF340PpdSchedule.loginUser
                  }} Prefers English"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="this.utility.useLanguage('en')"
                />
                <img
                  *ngIf="sF340PpdSchedule.isPaging === true"
                  tooltip="pagination on"
                  placement="bottom"
                  src="../assets/systemImg/pagination.png"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="
                    this.utility.setPagination(false, this.sF340PpdSchedule)
                  "
                />
                <img
                  *ngIf="sF340PpdSchedule.isPaging === false"
                  tooltip="pagination off"
                  placement="bottom"
                  src="../assets/systemImg/no-pagination.png"
                  placement="bottom"
                  width="25"
                  height="25"
                  (click)="
                    this.utility.setPagination(true, this.sF340PpdSchedule)
                  "
                />
                <!--<img src="../assets/systemImg/vietnam.png" width="25" height="25" />-->
                <img
                  src="../assets/systemImg/exit.png"
                  tooltip="Logout"
                  width="25"
                  height="25"
                  (click)="this.utility.logout()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form" #addQueryReportDataForm="ngForm">
            <!-- first column-->
            <div class="row">
              <div class="form-group col-xs-2 mr-1">
                <label>Factory</label>
                <select
                  class="col-form-label"
                  name="factory"
                  [(ngModel)]="sF340PpdSchedule.factory"
                  (change)="cleanBP()"
                >
                  <option value="C" selected>SHC</option>
                  <option value="U" selected>TSH</option>
                  <option value="E" selected>CB</option>
                  <option value="D" selected>SPC</option>
                </select>
              </div>
              <div class="form-group col-xs-2 mr-1">
                <label>Season</label>
                <input
                  class="col-form-label"
                  type="text"
                  name="season"
                  [(ngModel)]="sF340PpdSchedule.season"
                  required
                  (change)="cleanBP()"
                />
              </div>
              <div class="form-group col-xs-2 mr-1">
                <label>Buy Plan Version</label>
                <select
                  class="col-form-label"
                  name="bpVer"
                  [(ngModel)]="sF340PpdSchedule.bpVer"
                  (focus)="changeBPVerList()"
                >
                  <option value=""></option>
                  <option *ngFor="let bpVer of bpVerList" value="{{ bpVer }}">
                    {{ bpVer }}
                  </option>
                </select>
              </div>
              <div class="form-group col-xs-2 mr-1">
                <label>CWA Date Start</label>
                <input
                  class="col-form-label"
                  type="date"
                  name="cwaDateS"
                  [(ngModel)]="sF340PpdSchedule.cwaDateS"
                />
              </div>
              <div class="form-group col-xs-2 mr-1">
                <label>CWA Date End</label>
                <input
                  class="col-form-label"
                  type="date"
                  name="cwaDateE"
                  [(ngModel)]="sF340PpdSchedule.cwaDateE"
                />
              </div>
            </div>
            <!-- Second column-->
            <div class="row">
              <div class="form-group col-xs-2 mr-1">
                <label class="col-form-label mr-1 mt-2">Article</label>
                <input
                  class="col-form-label mr-1"
                  type="text"
                  name="article"
                  [(ngModel)]="sF340PpdSchedule.article"
                />
                <label class="col-form-label mr-1 mt-2">Model No</label>
                <input
                  class="col-form-label mr-1"
                  type="text"
                  name="modelNo"
                  [(ngModel)]="sF340PpdSchedule.modelNo"
                />
                <label class="col-form-label mr-1 mt-2">Model Name</label>
                <input
                  class="col-form-label mr-1"
                  type="text"
                  name="modelName"
                  [(ngModel)]="sF340PpdSchedule.modelName"
                />
                <button
                  class="btn btn-primary mr-1"
                  type="button"
                  (click)="search()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                  {{ "Common.btnList.search" | translate }}
                </button>
                <button
                  class="btn btn-primary mr-1"
                  type="button"
                  (click)="export()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                  {{ "Common.btnList.export" | translate }}
                </button>
                <button
                  [hidden]="
                    !this.sF340PpdSchedule.role.includes(uiControls.editMemo)
                  "
                  class="btn btn-primary mr-1"
                  type="button"
                  (click)="sendMail()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                  {{ "Common.btnList.sendMail" | translate }}
                </button>
                <!--批次修改Memo
                <button
                  [hidden]="
                    !this.sF340PpdSchedule.role.includes(uiControls.editMemo)
                  "
                  *ngIf="this.memoBtn; else elseMemoBtn"
                  class="btn btn-success mr-1"
                  type="button"
                  (click)="editMemo()"
                >
                  修改Memo
                </button>
                <ng-template #elseMemoBtn>
                  <button
                    class="btn btn-danger mr-1"
                    type="button"
                    (click)="saveMemo()"
                  >
                    儲存Memo
                  </button>
                </ng-template>
                -->
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center text-nowrap table-striped">
                    <!--text-nowrap不換行-->
                    <!--套版分頁<table datatable id="f340Sche" class="table text-center table-striped">-->
                    <thead>
                      <tr class="table-info">
                        <!--批次修改Memo
                        <th
                          style="background-color: #ff7f50"
                          tooltip="Buy Plan"
                          placement="bottom"
                        >
                          PPD Remark
                        </th>
                        -->
                        <th
                          style="background-color: #ff7f50"
                          tooltip="Buy Plan"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.factory" | translate }}
                        </th>
                        <th
                          style="background-color: #ff7f50"
                          tooltip="Buy Plan"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.buyPlanSeason" | translate }}
                        </th>
                        <th
                          style="background-color: #ff7f50"
                          tooltip="Buy Plan"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.versionNo" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.devSeason" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.devTeam" | translate }}
                        </th>

                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.article" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.cwaDeadline" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.modelNo" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.modelName" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.devStatus" | translate }}
                        </th>

                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.dropDate" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.confirmDate" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.cardDate" | translate }}
                        </th>
                        <th
                          style="background-color: #76daff"
                          tooltip="開發Team"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.processDate" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          tooltip="開發技術F340"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.releaseType" | translate }}
                        </th>

                        <th
                          style="background-color: #23d954"
                          tooltip="開發技術F340"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.sampleNo" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          tooltip="開發技術F340"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.proStatusId" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          tooltip="開發技術F340"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.hpPartNo" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          tooltip="開發技術F340"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.supsName" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          tooltip="開發技術F340"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.treatMent" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          tooltip="開發技術"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.partName" | translate }}
                        </th>
                        <th
                          [hidden]="
                            !this.sF340PpdSchedule.role.includes(
                              uiControls.editMemo
                            )
                          "
                          style="background-color: #23d954"
                          tooltip="生管人員維護"
                          placement="right"
                        >
                          生管{{ "F340-PPD.mantainPic" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          tooltip="生管人員維護"
                          placement="bottom"
                        >
                          PPD Remark
                        </th>
<!---->
                        <th
                          style="background-color: #23d954"
                          placement="開發人員維護"
                        >
                          PDF
                        </th>
                        <th
                          [hidden]="
                            !this.sF340PpdSchedule.role.includes(
                              uiControls.uploadPicF340Ppd
                            )
                          "
                          style="background-color: #23d954"
                          tooltip="開發人員維護"
                          placement="right"
                        >
                          PDF{{ "F340-PPD.mantainPic" | translate }}
                        </th>                      
<!---->                                                 
                        <th
                          [hidden]="
                            !this.sF340PpdSchedule.role.includes(
                              uiControls.uploadPicF340Ppd
                            )
                          "
                          style="background-color: #23d954"
                          tooltip="開發人員維護"
                          placement="right"
                        >
                          Shoe{{ "F340-PPD.mantainPic" | translate }}
                        </th>
                        <th
                          style="background-color: #23d954"
                          placement="bottom"
                        >
                          {{ "F340-PPD.titleList.photoComment" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <!--批次修改Memo
                          <td *ngIf="this.memoBtn; else elseMemoTd">
                            {{ item.ppdRemark }}
                          </td>
                          <ng-template #elseMemoTd>
                           
                            <textarea
                              [readonly]="item.isDisplay == 0"
                              class="form-control"
                              name="ppdRemark"
                              rows="2"
                              [(ngModel)]="item.ppdRemark"
                              #message="ngModel"
                            ></textarea>
                          </ng-template>
                          -->
                          <td>{{ item.factory }}</td>
                          <td>{{ item.buyPlanSeason }}</td>
                          <td>{{ item.versionNo }}</td>
                          <td>{{ item.devSeason }}</td>
                          <td>{{ item.devTeam }}</td>

                          <td>{{ item.article }}</td>
                          <td>{{ item.cwaDeadline }}</td>
                          <td>{{ item.modelNo }}</td>
                          <td>{{ item.modelName }}</td>
                          <td>{{ item.devStatus }}</td>

                          <td>{{ item.dropDate }}</td>
                          <td>{{ item.confirmDate }}</td>
                          <td>{{ item.cardDate }}</td>
                          <td>{{ item.processDate }}</td>
                          <td>{{ item.releaseType }}</td>

                          <td>{{ item.sampleNo }}</td>
                          <td>{{ item.proStatusId }}</td>
                          <td>{{ item.hpPartNo }}</td>
                          <td>{{ item.supsName }}</td>
                          <td>{{ item.treatMent }}</td>

                          <td>{{ item.partName }}</td>
                          <td [hidden]="
                              !this.sF340PpdSchedule.role.includes(
                                uiControls.editMemo
                              )
                            ">
                            <img
                              class="mt-2"
                              src="../assets/systemImg/edit.png"
                              width="35"
                              height="35"
                              (click)="editPpdRemark(item)"
                            />
                          </td>
                          <td>{{ item.ppdRemark }}</td>
<!-- -->
                          <td>
                            <img
                              src="../assets/systemImg/download-pdf.png"
                              class="mt-2"
                              width="35"
                              height="35"
                              [style.visibility]="
                                item.pdf.length < 1 ? 'hidden' : 'visible'
                              "
                              (click)="downloadPDF(item)"
                            />
                          </td>
                            <td>
                              <div
                              [hidden]="
                                !this.sF340PpdSchedule.role.includes(
                                  uiControls.uploadPicF340Ppd
                                )
                              ">
                              <label
                                [style.visibility]="
                                  item.isDisplay == 0 ? 'hidden' : 'visible'
                                "
                                class="btn btn-success mt-2"
                                for="fileUploadPdf{{ i }}"
                                >+</label
                              >
                              <input
                                id="fileUploadPdf{{ i }}"
                                type="file"
                                style="display: none"
                                accept=".pdf"
                                (click)="this.utility.reset($event)"
                                (change)="
                                  uploadPdfF340Ppd($event.target.files, item)
                                "
                              />
                              <img
                                [style.visibility]="
                                  item.pdf.length < 1 ? 'hidden' : 'visible'
                                "
                                src="../assets/systemImg/delete.png"
                                width="35"
                                height="35"
                                (click)="removePdfF340Ppd(item)"
                              />
                              </div>
                            </td>   
<!---->
                            <td>
                              <div
                              [hidden]="
                                !this.sF340PpdSchedule.role.includes(
                                  uiControls.uploadPicF340Ppd
                                )">
                              <label
                                [style.visibility]="
                                  item.isDisplay == 0 ? 'hidden' : 'visible'
                                "
                                class="btn btn-success mt-2"
                                for="fileUpload{{ i }}"
                                >+</label
                              >
                              <input
                                id="fileUpload{{ i }}"
                                type="file"
                                style="display: none"
                                accept=".jpg"
                                (click)="this.utility.reset($event)"
                                (change)="
                                  uploadPicF340Ppd($event.target.files, item)
                                "
                              />
                              <img
                                [style.visibility]="
                                  item.photo.length < 1 ? 'hidden' : 'visible'
                                "
                                src="../assets/systemImg/delete.png"
                                width="35"
                                height="35"
                                (click)="removePicF340Ppd(item)"
                              />
                              <img
                                [style.visibility]="
                                  item.isDisplay == 0 ? 'hidden' : 'visible'
                                "
                                src="../assets/systemImg/edit.png"
                                width="35"
                                height="35"
                                (click)="editPhotoComment(item)"
                              />
                              </div>
                            </td>
                          <td>{{ item.photoComment }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-start">
                    <select
                      style="height: 35px; width: 45px"
                      name="itemsPerPage"
                      [(ngModel)]="sF340PpdSchedule.itemsPerPage"
                      (change)="changePageSize($event)"
                    >
                      <option value="10" selected>10</option>
                      <option value="25" selected>25</option>
                      <option value="50" selected>50</option>
                      <option value="100" selected>100</option>
                    </select>
                    <pagination
                      *ngIf="this.sF340PpdSchedule.isPaging"
                      [boundaryLinks]="true"
                      [totalItems]="sF340PpdSchedule.totalItems"
                      [maxSize]="100"
                      [itemsPerPage]="sF340PpdSchedule.itemsPerPage"
                      [(ngModel)]="sF340PpdSchedule.currentPage"
                      (pageChanged)="pageChangeds($event)"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
                    >
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--photoCommentModal-->
<div
  bsModal
  #photoCommentModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">請輸入圖片註解</h4>
        <button
          type="button"
          class="close"
          (click)="closeModal('PhotoComment')"
          aria-label="Close"
        >
          <!--右上角的 X 符號-->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label></label>
              <textarea
                class="form-control"
                name="photoComment"
                rows="2"
                maxlength="300"
                [(ngModel)]="editModel.photoComment"
              ></textarea>
              <button
              type="button"
              class="btn btn-primary btn-lg mt-2"
              (click)="savePhotComment('PhotoComment')"
            >
              {{ "Common.btnList.save" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-lg mt-2"
              (click)="closeModal('PhotoComment')"
            >
              {{ "Common.btnList.close" | translate }}
            </button>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="editModel.photo === ''" class="modal-footer">
        <img src="../assets/F340PpdPic/{{editModel.devSeason}}/{{editModel.article}}/{{editModel.photo}}" width="1000" height="800" />
      </div>
    </div>
  </div>
</div>
<!--photoCommentModal-->
<!--ppdRemarkCommentModal-->
<div
  bsModal
  #ppdRemarkModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">請輸入PPD Remark註解</h4>
        <button
          type="button"
          class="close"
          (click)="closeModal('PpdRemark')"
          aria-label="Close"
        >
          <!--右上角的 X 符號-->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label></label>
              <textarea
                class="form-control"
                name="ppdRemark"
                rows="2"
                maxlength="300"
                [(ngModel)]="editModel.ppdRemark"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          (click)="savePhotComment('PpdRemark')"
        >
          {{ "Common.btnList.save" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          (click)="closeModal('PpdRemark')"
        >
          {{ "Common.btnList.close" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!--ppdRemarkCommentModal-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading F340 Shchdule...</p></ngx-spinner
>
