<div class="container py-5">
  <!-- For demo purpose-->
  <header class="text-center">
      <h1 class="display-4 mb-4">Are they still stuck in SHC?</h1>
      <p class="font-italic text-muted mb-0">
        Yes, they are !
      </p>

  </header>


  <div class="py-5">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <!-- Countdown 1-->
              <div class="rounded bg-gradient-4 text-white shadow p-5 text-center mb-5">
                <div class="mb-4"><p class="mb-0 font-weight-bold ">How many times to test COVID from 2021-07-19?</p></div>
                <div id="covidTest" class="mb-0 font-weight-bold"></div>
              </div>
              <!-- Countdown 2-->
              <div class="rounded bg-gradient-4 text-white shadow p-5 text-center mb-5">
                  <div class="mb-4"><p class="mb-0 font-weight-bold ">How long have they been quarantined?</p></div>
                  <div id="timer" class="mb-0 font-weight-bold"></div>
              </div>
              <!-- Countdown 3-->
              <div class="rounded bg-gradient-3 text-white shadow p-5 text-center mb-5">
                <div class="mb-4"><p class="mb-0 font-weight-bold ">團購明細</p></div>
                <div><a href="https://docs.google.com/spreadsheets/d/1iFPPQo1H3HVHwmenxaAzCTPxGSsht-wpP4J6p_eB784/edit#gid=0">2021/08/25玖德</a></div>
              </div>              
              <!-- Countdown 4-->
              <div class="rounded bg-gradient-4 text-white shadow p-5 text-center mb-5">
                <div class="mb-4"><p class="mb-0 font-weight-bold ">How many Article in a Seaon.</p></div>
                <canvas id="myChart" width="700" height="400"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>