<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Home of Excel</strong>
        </div>
        <form class="form-horizontal" #addQueryReportDataForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="col">
                  <label class="col-form-label mr-2">Article</label>
                  <input
                    class="col-form-label mr-2"
                    type="text"
                    placeholder="Article"
                    name="article"
                    [(ngModel)]="sExcelHome.article"
                    required
                  />
                  <button
                    class="btn btn-primary mr-2"
                    type="button"
                    (click)="export()"
                  >
                  Export
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
