<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <strong>{{title}}</strong>
            </div>
            <div class="col-9">
              <div class="float-right">
                <strong *ngIf="this.sF406i?.loginUser"
                  >{{ "Common.hello" | translate }}
                  {{ this.sF406i?.loginUser }}</strong
                >
                <img
                  src="../assets/systemImg/exit.png"
                  tooltip="Logout"
                  width="25"
                  height="25"
                  (click)="this.utility.logout()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form" #addQueryReportDataForm="ngForm">
            <!-- Second column-->
            <div class="row">
              <div class="form-group col-xs-2 mr-1">

                <label class="col-form-label ml-4 mr-1 mt-2">Scan</label>
                <input
                  class="col-form-label mr-1"
                  type="text"
                  name="stockNo"
                  placeholder="Please sacn the Stock#"
                  [(ngModel)]="sF406i.stockNo"
                  (change)="scanStockNo()"
                />
                <!--                           
                <button
                  class="btn btn-primary mr-1"
                  type="button"
                  (click)="search()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                  {{ "Common.btnList.search" | translate }}
                </button>

                <button
                  class="btn btn-primary mr-1 ml-4"
                  type="button"
                  (click)="export()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                Export
                </button>
                -->
              </div>
            </div>
          </form>
        </div>
        <div class="row" *ngIf="result.length > 0">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center">
                      <tr>
                        <th >Stock#</th>
                        <td colspan="3">{{ result[0].stockNo }}</td>
                      </tr>
                      <tr>
                        <th >Order#</th>
                        <td >{{ result[0].orderNo }}</td>
                        <th >Material#</th>
                        <td >{{ result[0].materialNo  }}</td>
                      </tr>
                      <tr>  
                        <th >Material</th>
                        <td colspan="3">{{ result[0].materialName }}/{{ result[0].sheSize }}</td>
                      </tr>
                      <tr>  
                        <th >Color</th>
                        <td >{{ result[0].colorCode  }}({{ result[0].ssbMatPid }})</td>
                        <th >Supplier</th>
                        <td >{{ result[0].supName }}</td>
                      </tr>
                      <tr> 
                        <th >Model</th>
                        <td colspan="3">{{ result[0].modelMemo }}/{{ result[0].devTeamName }}</td>
                      </tr>
                      <tr>  
                        <th >Article</th>
                        <td colspan="3">{{ result[0].articleMemo }}</td>
                      </tr>
                      <tr>  
                        <th >Season</th>
                        <td >{{ result[0].season }}({{ result[0].location }})</td>
                        <th >Stage</th>
                        <td >{{ result[0].oDSTAGE20 }}</td>
                      </tr>
                      <tr>
                        <th >Date</th>
                        <td >{{ result[0].acptDate | date: "yyyy/MM/dd"  }}</td>
                        <th >Qty</th>
                        <td >{{ result[0].accQty  }} {{ result[0].unit  }}</td>
                      </tr>
                      <tr>  
                        <th >TST</th>
                        <td >Yes/{{ result[0].testYn }}</td>
                        <th >SFMCA</th>
                        <td >{{ result[0].fmca1 }}</td>                   
                      </tr>

                  </table>
                  <!--
                  <div class="d-flex justify-content-start">
                    <select
                      style="height: 35px; width: 45px"
                      name="itemsPerPage"
                      [(ngModel)]="sSampleTrackReport.itemsPerPage"
                      (change)="changePageSize($event)"
                    >
                      <option value="10" selected>10</option>
                      <option value="25" selected>25</option>
                      <option value="50" selected>50</option>
                      <option value="100" selected>100</option>
                    </select>
                    <pagination
                      *ngIf="this.sSampleTrackReport.isPaging"
                      [boundaryLinks]="true"
                      [totalItems]="sSampleTrackReport.totalItems"
                      [maxSize]="60"
                      [itemsPerPage]="sSampleTrackReport.itemsPerPage"
                      [(ngModel)]="sSampleTrackReport.currentPage"
                      (pageChanged)="pageChangeds($event)"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
                    >
                    </pagination>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading {{title}}...</p></ngx-spinner
>
