<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <strong>{{title}}</strong>
            </div>
            <div class="col-9">
              <div class="float-right">
                <strong *ngIf="this.sF406i?.loginUser"
                  >{{ "Common.hello" | translate }}
                  {{ this.sF406i?.loginUser }}</strong
                >
                <img
                  src="../assets/systemImg/exit.png"
                  tooltip="Logout"
                  width="25"
                  height="25"
                  (click)="this.utility.logout()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form" #addQueryReportDataForm="ngForm">
            <!-- Second column-->
            <div class="row">
              <div class="form-group ml-4 mr-1">
                <select
                style="height: 40px; width: 100px"
                name="itemsPerPage"
                [(ngModel)]="sF406i.type"
              >
                <option value=0 >Stock#</option>
                <option value=1 >Materail#</option>
              </select>
              <label *ngIf="(sF406i.type == 0 )" class="col-form-label ml-2 mr-1 mt-2">Scan</label>
                <input *ngIf="(sF406i.type == 0 )"
                  class="col-form-label ml-2 mr-1"
                  type="text"
                  name="stockNo"
                  placeholder="Please sacn the Stock#"
                  [(ngModel)]="sF406i.stockNo"
                  (keyup)="scanStockNo()"
                />
                <input *ngIf="(sF406i.type == 1 )"
                class="col-form-label ml-2 mr-1"
                type="text"
                name="materialNo"
                placeholder="Please key the Material#"
                [(ngModel)]="sF406i.materialNo"
              />   
              <button *ngIf="(sF406i.type == 1 )"
                  class="btn-lg btn-primary ml-2 mr-1"
                  type="button"
                  (click)="scanMaterialNo()"
                  [disabled]="!addQueryReportDataForm.valid"
                >
                  {{ "Common.btnList.search" | translate }}
              </button>
              </div>
            </div>
          </form>
        </div>
        <div class="row" >
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive" >
                  <table class="table text-center" *ngIf="(result.length > 0) && (sF406i.type == 0 )">
                      <tr>
                        <th >Stock#</th>
                        <td colspan="3">{{ result[0].stockNo }}</td>
                      </tr>
                      <tr>
                        <th >Order#</th>
                        <td >{{ result[0].orderNo }}</td>
                        <th >Material#</th>
                        <td >{{ result[0].materialNo  }}</td>
                      </tr>
                      <tr>  
                        <th >Material</th>
                        <td colspan="3">{{ result[0].materialName }}/{{ result[0].sheSize }}</td>
                      </tr>
                      <tr>  
                        <th >Color</th>
                        <td >{{ result[0].colorCode  }}({{ result[0].ssbMatPid }})</td>
                        <th >Supplier</th>
                        <td >{{ result[0].supName }}</td>
                      </tr>
                      <tr> 
                        <th >Model</th>
                        <td colspan="3">{{ result[0].modelMemo }}/{{ result[0].devTeamName }}</td>
                      </tr>
                      <tr>  
                        <th >Article</th>
                        <td colspan="3">{{ result[0].articleMemo }}</td>
                      </tr>
                      <tr>  
                        <th >Season</th>
                        <td >{{ result[0].season }}({{ result[0].location }})</td>
                        <th >Stage</th>
                        <td >{{ result[0].oDSTAGE20 }}</td>
                      </tr>
                      <tr>
                        <th >Date</th>
                        <td >{{ result[0].acptDate | date: "yyyy/MM/dd"  }}</td>
                        <th >Qty</th>
                        <td >{{ result[0].accQty  }} {{ result[0].unit  }}</td>
                      </tr>
                      <tr>  
                        <th >TST</th>
                        <td >Yes/{{ result[0].testYn }}</td>
                        <th >SFMCA</th>
                        <td >{{ result[0].fmca1 }}</td>                   
                      </tr>
                  </table>
                  <table class="table text-center text-nowrap table-striped"  *ngIf="(resultM.length > 0) && (sF406i.type == 1 )"><!--text-nowrap不換行-->
                      <thead>
                        <tr class="table-info">
                          <th>Type</th>
                          <th>Stock #</th>
                          <th>WH</th>
                          <th>Location</th>
                          <th>Mat. #</th>

                          <th>Mat. Name</th>
                          <th>Color</th>
                          <th>Size</th>
                          <th>UOM</th>
                          <th>Stock Qty</th>

                          <th>Season</th>
                          <th>BOM Stage</th>
                          <th>Order Stage</th>
                          <th>Dev. Team</th>
                          <th>Model Name</th>

                          <th>Article</th>
                          <th>FMCA</th>
                          <th>Single Test Result</th>
                          <th>Incoming Date</th>
                          <th>Remark</th>

                          <th>PO#</th>
                        </tr>
                      </thead>
                    <tbody>
                      <ng-container *ngFor="let item of resultM; let i = index">
                        <tr>
                          <td>{{ item.ssbMatPid }}</td>
                          <td>{{ item.stockNo }}</td>
                          <td>{{ item.wareCode }}</td>                          
                          <td>{{ item.location }}</td>
                          <td>{{ item.materialNo }}</td>

                          <td>{{ item.materialName }}</td>
                          <td>{{ item.color }}</td>
                          <td>{{ item.shoeSize }}</td>                          
                          <td>{{ item.unit }}</td>
                          <td>{{ item.materialQty }}</td>
                          
                          <td>{{ item.season }}</td>
                          <td>{{ item.stage }}</td>
                          <td>{{ item.orderStage }}</td>                          
                          <td>{{ item.devTeam }}</td>
                          <td>{{ item.modelNameMemo }}</td>

                          <td>{{ item.article }}</td>
                          <td>{{ item.fmcaTestResult }}</td>
                          <td>{{ item.singleTestResult }}</td>                          
                          <td>{{ item.insertDate| date: "yyyy/MM/dd" }}</td>
                          <td>{{ item.memo }}</td>

                          <td>{{ item.orderNumber }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading {{title}}...</p></ngx-spinner
>
