<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <strong>{{title}}</strong>
            </div>
            <div class="col-9">
              <div class="float-right">
                <strong *ngIf="this.sReactime?.loginUser"
                  >{{ this.sReactime?.loginUser }}</strong>
                  <img
                  *ngIf="!this.sReactime?.loginUser"
                  src="../assets/systemImg/login.png"
                  width="25"
                  height="25"
                  (click)="openModal('loginModal')"/>    

                  <img
                  *ngIf="this.sReactime?.loginUser"
                  src="../assets/systemImg/exit.png"
                  width="25"
                  height="25"
                  (click)="this.logout()"/>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form" #addQueryReportDataForm="ngForm">
            <!-- Second column-->
            <div class="row">
              <div class="form-group col-xs-2 mr-1">
                <label class="col-form-label mr-1">From:</label>
                <input
                  class="col-form-label mr-1"
                  type="datetime-local"
                  name="recordTimeS"
                  [(ngModel)]="sReactime.recordTimeS"/>
                  <label class="col-form-label mr-1">To:</label>
                  <input
                    class="col-form-label mr-1"
                    type="datetime-local"
                    name="recordTimeE"
                    [(ngModel)]="sReactime.recordTimeE"/>         
                <button
                  class="btn btn-primary mr-1 ml-1"
                  type="button"
                  (click)="search()"
                >
                  Search
                </button>
                <button
                class="btn btn-primary mr-1 ml-1"
                type="button"
                (click)="openModal('addRfidModal')"
                [hidden]="this.selectedList.length == 0"
              >
                Maintain
              </button>
              <button
              class="btn btn-primary mr-1"
              type="button"
              (click)="export()"
              >
              Export
              </button>                  
              </div>
            </div>
            <div class= "row">
              <label style="color:red;">* Selected counts: {{this.selectedList.length}}</label>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-center table-striped">
                    <!--text-nowrap不換行-->
                    <!--套版分頁<table datatable id="f340Sche" class="table text-center table-striped">-->
                    <thead>
                      <tr class="table-info">
                        <th style="background-color: #23d954;width:5%;"><input type="checkbox"(change)="checkUncheckAll($event)"> Select</th>
                        <th
                          style="background-color: #23d954;width:5%;"
                          (click)="this.sort('gate')"
                        >
                        Gate
                        </th>

                        <th
                          style="background-color: #23d954;width:10%;"
                          (click)="this.sort('time')"
                        >
                        Time
                        </th>
                        <th
                          style="background-color: #23d954;width:10%;"
                          (click)="this.sort('epc')"
                        >
                        EPC
                        </th>
                        <th
                          style="background-color: #23d954;width:20%;"
                          (click)="this.sort('epc')"
                        >
                        Reason
                        </th>

                        <th
                          style="background-color: #23d954;width:10%;"
                          (click)="this.sort('updater')"
                        >
                        Updater
                        </th>                                                 
                        <th
                        style="background-color: #23d954;width:10%;"
                        (click)="this.sort('updateTime')"
                      >
                        Update Time
                      </th>                         
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of result; let i = index">
                        <tr>
                          <td style="width:5%;"><input type="checkbox"(change)="selectList()" [(ngModel)] = "result[i].checked"></td>
                          <td style="width:5%;">{{ item.gate  }}</td>
                          <td style="width:10%;">{{ item.time | date: "yyyy/MM/dd HH:mm:ss"  }}</td>
                          <td style="width:10%;">{{ item.epc  }}</td>
                          <td style="width:20%;">{{ item.reason  }}</td>
                          <td style="width:10%;">{{ item.updater  }}</td>
                          <td style="width:10%;">{{ item.updateTime }}</td>
                          
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <!--
                  <div class="d-flex justify-content-start">
                    <select
                      style="height: 35px; width: 45px"
                      name="itemsPerPage"
                      [(ngModel)]="sSampleTrackReport.itemsPerPage"
                      (change)="changePageSize($event)"
                    >
                      <option value="10" selected>10</option>
                      <option value="25" selected>25</option>
                      <option value="50" selected>50</option>
                      <option value="100" selected>100</option>
                    </select>
                    <pagination
                      *ngIf="this.sSampleTrackReport.isPaging"
                      [boundaryLinks]="true"
                      [totalItems]="sSampleTrackReport.totalItems"
                      [maxSize]="60"
                      [itemsPerPage]="sSampleTrackReport.itemsPerPage"
                      [(ngModel)]="sSampleTrackReport.currentPage"
                      (pageChanged)="pageChangeds($event)"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
                    >
                    </pagination>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--addRfidModal-->
<div
  bsModal
  #addRfidModal="bs-modal"
  class="modal hide fade in"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-info modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Please type reason and guard name.</h4>
      <button
        type="button"
        class="close"
        (click)="closeModal('addRfidModal')"
        aria-label="Close"
      >
        <!--右上角的 X 符號-->
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">   
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            Reason:
            <input
            class="col-form-label mr-2"
            type="text"
            size="50"
            name="modalReason"
            [(ngModel)]="addModal.reason"/>
            Updater:
            <input
            class="col-form-label mr-2"
            type="text"
            size="20"
            name="modalUdater"
            [(ngModel)]="addModal.updater"
            readonly/>
            <button
            type="button"
            [hidden]="false"
            class="btn btn-primary btn-lg"
            (click)="saveModal()"
            >
            Save
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
        </div>
        <div class="col-2">
        </div>
      </div>  
    </div>
  </div>
</div>
</div>
<!--addRfidModal-->
<!--loginModal-->
<div
  bsModal
  #loginModal="bs-modal"
  class="modal hide fade in"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-info " role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Please Login first.</h4>
      <button
        type="button"
        class="close"
        (click)="closeModal('loginModal')"
        aria-label="Close"
      >
        <!--右上角的 X 符號-->
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">   
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            Account:
            <input
            class="col-form-label mr-2"
            type="text"
            size="10"
            name="modalReason"
            [(ngModel)]="loginModel.account"/>
            Password:
            <input
            class="col-form-label mr-2"
            type="password"
            size="10"
            name="modalUdater"
            [(ngModel)]="loginModel.password"/>
            <button
            type="button"
            [hidden]="false"
            class="btn btn-primary btn-lg"
            (click)="this.login()"
            >
            Login in
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
        </div>
        <div class="col-2">
        </div>
      </div>  
    </div>
  </div>
</div>
</div>
<!--loginModal-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading {{title}}...</p></ngx-spinner
>
